#caja{
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    border: 2px solid;
    margin: 20px auto;
}

.texto{
    text-align: center;
}
#titulo{
    color: green;
}

.boton{
    text-align: center;
    padding-top: 50px;
}
#btn{
    background-color:greenyellow;
    color: black;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    padding: 15px 20px;
}